*{
    margin:0;
    padding: 0;
}

body{
    background-color: #111;
    color: #eaeaea;
}

.header{
    height: 30vh;
}

.array-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70vh;
}

.array-bar{
    background-color: aqua;
    margin: 0 1px;
    min-width: 0.6%;
    min-height: 2.5rem;
    color: aqua;
    text-align: center;
    font-size: 1.8rem;
    /* border-top: 1px blue solid;
    border-left: 1px blue solid;
    border-right: 1px blue solid; */

}

.sliders{
    min-width:120px;
    width: 10%;
}

@media(max-width: 550px){
    .array-bar{
        min-width: 0.5%;
        min-height: 5vh;
        font-size: 1rem;
        margin: 0 1px;
    }
}
@media(max-width: 400px){
    .array-bar{
        min-width: 0.4%;
        min-height: 6vh;
    }
}
@media(max-width: 350px){
    .array-bar{
        min-width: 0.35%;
        min-height: 4vh;
    }
}

@media(max-width: 300px){
    .array-bar{
        min-width: 0.3%;
    }
}